
<table  class="table table-striped" *ngIf="customers && customers.length>0">
  
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Customer</th>
        <th scope="col">IdNumber</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete Customer</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customers">
        <td>{{c.id}}</td>
        <td (click)="goToDetails(c.id)">{{c.fullName}}</td>
        <td>{{c.numId}}</td>
        <td>{{c.created}}</td>
        <td><button class="btn btn-primary" (click)="updateCustomer(c.id)">
            <i class="bi bi-pencil"></i> Edit
          </button>
        </td>
        <td><button class="btn btn-danger" (click)="goToDelete(c.id)">
             <i class="bi bi-trash"></i> Delete</button></td>

      </tr>
    </tbody>
  </table>

