<div class="conteiner">
    <div class="row" class="col-6">
    <h2>Add New Contact</h2>
  <form>
    <div class="mb-3">
      <label for="fullName" class="form-label">Full Name </label>
      <input type="text" class="form-control" id="fullName" name="fullName">
    </div>
    <div class="mb-3">
      <label for="officeNumber" class="form-label">Office Number</label>
      <input type="number" class="form-control" id="officeNumber" name="officeNumber">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email">
      </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
  </div>
</div>
